.modal{
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  overflow: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  z-index: 99;

  background-color: rgba(0, 0, 0, 0.8);
}

.hidden {
  display: none;
}

.wrapper {
  flex-shrink: 0;
  flex-grow: 0;
  width: 100%;
  min-height: 100%;
  margin: auto;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;


}

.window {
  background: #fff;

  width: 600px;
  max-width: 100%;

  padding: 20px;
  border: 1px solid black;

  transition: transform 0.15s ease 0s, opacity 0.15s ease 0s;
  transform: scale(1);
}

.close_button {
  border: none;
  background: none;

  position: absolute;
  top: 2px;
  right: 2px;

  cursor: pointer;
  svg {
    width: 24px;
    height: 24px;
  }


  &:hover  {
    svg {
      fill: #1ea7fd;
    }
  }
}
